/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box ;
    
}

*, *::before,*::after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato' ;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;;
    position: absolute;
    bottom: 0;
    left: 0;

}
    /*Heder styles start */

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    transition: 0.3s linear;
    padding: 25px;
    z-index: 999;
}

.header__active{
    background: #0E1D28;
}    
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;   
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger__line{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;    
}
.burger__line-first{
    top: 0;
}
.burger__line-second{
    top: 50%;
    transform: translateY(-50%);
}
.burger__line-third{
    bottom: 0;
}
    /*Heder styles end */




    /*Intro styles start */

.intro{
    min-height: 100vh;
    background:url(../img/intro_bg.jpg)no-repeat center ;
    background-size:cover ;
    padding-top: 263px;
    padding-bottom: 223px;
    
}
.intro__title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}
.intro__subtitle{
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color:white;
    margin-bottom: 59px;  
}
.search-form__info{
    display: flex;
    flex-wrap: wrap;
}
.search-form__field{
    width: 297px;
    background-color:transparent ;
    background: url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
.search-form__submit{
    padding:15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background:#1B7DFF;
    border: 0;
    
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #032048;
}
    /*Intro styles end */
    


    /*Benefits styles start */

.benefits{
    margin-bottom: 131px;
}
.benefits__wrap{
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    box-sizing: border-box
    
}
.benefits__title{
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
    color: black;
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
    
}
.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits__card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__card-thunb{
    display: block;
}
.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
    color: black;
}
.benefits__card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
    color: black;
    
}
.benefits__card-more{
    display: inline block;
    padding-right: 59px ;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background:url(../img/svg/arrow_right_ico.svg) no-repeat 90% center;
    transition: .3s all;
    
}
.benefits__card-more:hover, .benefits__card-more :focus{
    background:url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}
    /*Benefits styles end */



    /*Places styles start*/
.places{
    margin-bottom: 131px;
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    
}
.places__title{
    margin-right: 15px;
}
.places__view-all{
    padding-right: 59px ;
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    background:url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}
.places__view-all:hover, .places__view-all:focus {
    opacity: .75;
    
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    
}
.places__card{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card:hover .places__card-pic{
    transform: scale(1.05);
}
.places__card-title{
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

    
.places__card_size_lg{
    grid-column: span 3;
}
.places__card_size_sm{
    grid-column: span 2;
}
.places__card-pic{
    width: 100%;
    transition: 1s all;
}
.places__card-pic_size_lg{
    height: 354px;
    object-fit: cover;
}
.places__card-pic_size_sm{
    height: 283px;
    object-fit: cover;
}
.places__card-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

    /*Places styles end*/


    /*Tours style start*/
.tours{
    margin-bottom: 139px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__info{
    padding-left: 47px;
}
.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour__more{
    padding-right: 59px ;
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    background:url(../img/svg/arrow_right_ico.svg) no-repeat 90% center;
    transition: .3s all;
    
}
.tour__more:hover, .tour__more :focus{
    background:url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}    
    /*Tours style end*/



    /*Top style start*/

.top{
    margin-bottom: 86px;
}

.top__title{
    margin-bottom: 54px;

}
.top__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
}
.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card{
    display: flex;
    flex-direction: column;
    grid-column: span 2;    
}

.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;  
}
.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    padding: 16px 20px;
    box-sizing: border-box;
}
.top__card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/svg/heart-icon.svg) no-repeat right;
    margin-right: 14px;
}
.top__card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../img/svg/coment-icon.svg) no-repeat right;
}
.top__card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}
.top__card-more{
    width: 118px;
    padding: 12px 19px;
    background-color: #006DFE;;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin: auto 0 0 0 ;
    margin-bottom: 58px;
    
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background-color: rgb(2, 26, 58);
}
    /*Top style end*/


    /*Videos style start*/

.videos{
    width: 100%;  
}
.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}

.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    /*Videos style end*/



    /*Footer style start*/
.footer{
    background:  #0E1D28;
    padding: 119px 0;
}
.footer__item{
    display: flex;
    flex-wrap: wrap;

}
.footer__logo{
    width: 50%;
}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.footer__menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.footer__menu-link{
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: 60%;
}    
    /*Footer style end*/



    /*Media style start*/

@media screen and (max-width: 960px) {
    .benefits{
        margin-bottom: 75px;
    }
    .benefits__card{
        margin-bottom: 60px;
    } 
    .search-form__field {
        margin-bottom: 25px;
    }
    .benefits__cards{
        padding: 0 15px;
        column-gap: 35px;
    }
    .benefits__title{
        padding:  55px 15px;
    }
    .benefits__wrap{
        box-shadow: none;
    }
    .places__card_size_lg{
        grid-column: span 6;
    }
    .places__card_size_sm{
        grid-column: span 6;
    }
    .places__card{
        margin-bottom: 5px;
    }
    .tours__tour{
        column-gap: 35px;
    }
    .tour__info{
        padding-left: 0;
    }
    .tour__title{
        margin-bottom: 15px;
    }
    .tour__desc{
        margin-bottom: 20px;
    }
    .top__cards{
        column-gap: 20px;
    }
    .top__card{
        grid-column: span 3;
    }
    .top__card-pic{
        margin-bottom: 20px;
    }
    .top__card-more{
        margin-bottom: 55px;
    }
    .footer{
        padding: 60px 0;
    }
       
}
@media screen and (max-width: 767px) {
    .section-title{
        margin-bottom: 25px;
    }
    .section-title::after{
        width: 78%;
    }
    .header__wrapper{
        padding-top: 10px;
    }
    .header__burger {
        display: block;        
    }
    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
    }
    .header__nav-active{
        transform: translateX(0);
        transition: .3s all linear;
    }
    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
       margin-bottom: 0;         
    }
    .header__link{        
        font-size: 42px;
        line-height: 48px;
    }
   .header__nav-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
    }
    .header__nav-close-line{
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: white;
        top: 50%;
        

    } 
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .intro{
        padding-top: 125px;
        
    }
    .intro__title{
        font-size: 32px;
        line-height: 48px;
    }
    .intro__subtitle{
        font-size: 14px;
    }
    .search-form__field{
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: url(../img/svg/circle-ico.svg) no-repeat left 2px;
    }
    .search-form__submit{
        width: 100%;
    }
    .search-form__field::placeholder{
        font-size: 16px ;        
    }
    .benefits__card-pic{
        margin-bottom: 20px;
    }
    .benefits{
        margin-bottom: 36px ;
    }
    .benefits__card{
        grid-column: span 3;
        margin-bottom: 40px;
    }
    .benefits__card-title{
        margin-bottom: 12px;
    }
    .benefits__card-desc{
        margin-bottom: 20px;
    }
    .places{
        margin-bottom: 76px;
    }
    .places__card_size_lg, .places__card_size_sm {
        height: 230px;
    }
    .places__view-all{
        margin-bottom: 25px;  
    }
    .tours{
        margin-bottom: 76px;
    }
    .tour__pic,.tour__info{
        grid-column: span 2;
    }
    .tour__pic{
        margin-bottom: 20px;
    }
    .mobile__pic-mob-first{
        grid-row-start: -1;
    }
    .top{
        margin-bottom: 76px;
    }
    .top__card {
        grid-column: span 6;
    }
    .top__card-stats{
        max-width: 386px;
    }
   .footer__logo{
       width: 100%;
   }
   
   .footer__nav{
       width: 100%;
   }
   .footer__menu{
       width: 50%;
       margin-bottom: 24px;
   }
}   

@media screen and (max-width: 500px) {
    .header__nav{
        padding: 75px 30px;
    }

}

    /*Media style end*/